<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="signupdatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=signupdatabase;Integrated Security=True;Max Pool Size=1000; Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="signupdatabaseConnectionString2" connectionString="Data Source=.;Initial Catalog=signupdatabase;Integrated Security=True;Min Pool Size=5;Max Pool Size=1000"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>